.panels div:nth-child(even) {
    // outline: 1px solid red;
    background-color: $dark-blue-green;
}
.panels div:nth-child(odd) {
    // outline: 1px solid blue;
    background-color: $light-blue;
}
[data-nav="main"] {
    // outline: 1px solid green;
}
.selector {
    // outline: 1px solid green;
}

.test {
    height: 50px;
    width: 250px;
    position: relative;
}