$dark-blue-green: rgba(38, 57, 64, 1);
$light-blue: rgba(218, 230, 242, 1);
$gray: rgba(80, 92, 115, 1);
$blue: rgba(184, 195, 217, 1);
$light-gray: rgba(141, 149, 166, 1);

.bg-dark-blue-green {
    background-color: $dark-blue-green;
}
.bg-light-blue {
    background-color: $light-blue;
}
.bg-light-blue-25 {
    background-color: rgba(218, 230, 242, .25);
}